NODE_ENV=development
PORT=4000
WEB_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://postgres:CHANGE_ME@localhost:5432/valorian?schema=public
JWT_SECRET=zM2s8zRL6r9H7tpCUgUlwfqQROKTNNQPb7Avku0GfvgN7tB5DK65UppBRccpfVzt
SEED_ADMIN_EMAIL=admin@valorian.studio
SEED_ADMIN_PASSWORD=ChangeMe-Valorian-2026
